<div class="login-container">

  <form [formGroup] ="loginForm" >

    <!-- <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" />
    <br/>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" />
    <br/>
    <button type="submit">Login</button> -->
    <!-- <button type="submit">Login</button> -->
    <br/>
    <ui5-input
    class="samples-margin samples-responsive-margin-bottom"
    formControlName="username"
    [(ngModel)]="username"

    ></ui5-input>
    <br/>
    <ui5-input
    class="samples-margin samples-responsive-margin-bottom"
    [(ngModel)]="password"
    formControlName="password"
    ></ui5-input>

    <br/>
    
    <ui5-button class="samples-margin" design="Emphasized" (click) ="login()" >
        <!-- <button> -->
            Submit
        <!-- </button> -->
    </ui5-button>
    <p class="error-message" *ngIf="loginError">Invalid credentials</p>
  </form>
</div>